<section id="equipos-componente-admin">
    <h2>Equipos</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus suscipit non maiores. Natus beatae dolores cupiditate sapiente consectetur qui, doloremque officiis! Culpa similique ea sint fugit dolorum officiis autem cumque.</p>
    <div class="equipos-contenedor"></div>
  </section>
  
  <!-- Formulario de inscripción de nuevo equipo -->
  <section id="nuevo-equipo-form">
    <div class="form-card">
      <h2>Inscribir Nuevo Equipo</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="teamName">Nombre del Equipo:</label>
          <input type="text" id="teamName" [(ngModel)]="team.nombre" name="name" required>
        </div>
        <div class="form-group">
          <label for="teamLogo">Logo del Equipo:</label>
          <input type="file" id="teamLogo" (change)="onFileChange($event)" name="logo" required>
        </div>
        <button type="submit">Inscribir Equipo</button>
      </form>
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>
    </div>
  </section>
  