<div class="estadisticas-container">
  <div class="contenedor">
    <h2 class="estadisticas-title">Estadísticas</h2>
    <!-- Otro contenido aquí -->
  </div>
  
  <div class="estadisticas-text">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis rerum ipsum aliquid tenetur fugiat enim expedita commodi natus, hic cum deleniti, adipisci iure. Molestiae excepturi fugiat optio dicta quisquam vero.
    Nam, illum eligendi. Quo at beatae nulla quis ipsam dignissimos. Explicabo provident totam, at molestias laborum exercitationem excepturi. Ea perferendis libero odio doloremque labore id iure facere saepe autem? Asperiores?
    Voluptatibus error ratione sint asperiores vero eveniet distinctio? Numquam rerum repellendus ea eaque autem in at reiciendis, quia reprehenderit. Illum exercitationem quae explicabo recusandae, sint non ea iure? Nostrum, molestiae!</p>
  </div>
  <table class="stats-table">
    <thead>
      <tr>
        <th>Equipo</th>
        <th>Promedio de Puntos</th>
        <th>Victorias</th>
        <th>Pérdidas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stat of stats">
        <td>
          <a [href]="stat.teamUrl">
            <img [src]="stat.teamLogo" alt="Logo" class="team-logo">
            {{ stat.teamName }}
          </a>
        </td>
        <td>{{ stat.avgPoints }}</td>
        <td>{{ stat.wins }}</td>
        <td>{{ stat.losses }}</td>
      </tr>
    </tbody>
  </table>
</div>
