<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="nav-link navbar-brand" href="#">HOME</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/equipos">Equipos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/estadisticas">Estadísticas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lideres">Líderes</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="logo-container">
      <img id="logo" src="assets/logo.png" alt="logo">
    </div>
    <div>
      <a class="nav-link" href="/login"><img src="assets/icons/login.svg" alt=""> Admin</a>
    </div>
  </div>
</nav>
