      
a{
  text-decoration: none;
  color: #000000;
}

#nav, .dropdown-menu{
  background-color: #E84624 !important; 
}

.dropdown-item:hover {
  background-color: #8D1616 !important; 
}

a{
  color: #fff !important;
}

#logo{
  width: 100px;
}