<div class="player-profile">
  <div class="player-header">
    <div class="background-image">
      <img [src]="player.fondo" alt="Background Image">
    </div>
    <div class="team-logo">
      <img [src]="player.imgEscudo" alt="Team Logo">
    </div>
    <div class="player-avatar">
      <img [src]="player.image" alt="Avatar de {{ player.name }}">
    </div>
    <div class="player-info-header">
      <h2>{{ equipoJugador?.nombreEquipo }} | #{{ jugador?.numero }} | {{ jugador?.position }}</h2>
      <h1>{{ jugador?.nombreUsuario }}</h1>
      <p>{{ jugador?.nickname }}</p>
    </div>
  </div>
  <div class="player-details">
    <div class="player-stats">
      <div class="stat">
        <h3>Puntos</h3>
        <p>{{ estadisticasJugador?.puntos }}</p>
      </div>
      <div class="stat">
        <h3>Asistencias</h3>
        <p>{{ estadisticasJugador?.asistencias }}</p>
      </div>
      <div class="stat">
        <h3>Rebotes</h3>
        <p>{{ estadisticasJugador?.rebotes }}</p>
      </div>
    </div>
  </div>
  <div class="player-extra-stats">
    <div class="stat">
      <h4>Minutos Jugados</h4>
      <p>{{ estadisticasJugador?.minutosJugados }}</p>
    </div>
    <div class="stat">
      <h4>Total de Partidos</h4>
      <p>{{ estadisticasJugador?.partidosJugados }}</p>
    </div>
    <!-- Agrega más estadísticas si es necesario -->
  </div>
</div>
