<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <img src="/assets/icons/menu.svg" alt="Menu">
      </span>
    </button>
    <a class="logo-container" href="#">
      <img id="logo" src="assets/logo.jpg" alt="logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/equipos">EQUIPOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#estadisticas">ESTADÍSTICAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lideres">LÍDERES</a>
        </li>
      </ul>
      <div class="d-flex">
        <a (click)="irPanel()" class="nav-link" *ngIf="adminLogeado"><img src="assets/icons/adminPanel.svg" alt="Admin Panel"> Panel</a>
        <a (click)="cerrarSesion()" class="nav-link" href="/login" *ngIf="adminLogeado"><img src="assets/icons/login.svg" alt="Log Out"> Log Out</a>
        <a class="nav-link" href="/login" *ngIf="!adminLogeado"><img src="assets/icons/login.svg" alt="Admin"> Admin</a>
      </div>
    </div>
  </div>
</nav>
