<!-- card.component.html -->
<div (click)="goToView(player.jugador.id)" class="jugador-card">
    <div class="jugador-info">
        <div class="jugador-number">{{ getStatValue() }}</div>
        <div class="jugador-image">
            <img [src]="player.jugador.avatarImg" alt="Imagen">
        </div>
        <div class="jugador-details">
            <h2 class="jugador-name">{{ player.jugador.nombreUsuario }}</h2>
            <span class="jugador-position">{{ player.equipoPropio.nombreEquipo }}</span>
        </div>
    </div>
</div>
