<div class="player-form">
    <h2>Crear Nuevo Jugador</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="playerName">Nombre del Jugador:</label>
        <input type="text" id="playerName" name="playerName" [(ngModel)]="player.name" required>
      </div>
      <div class="form-group">
        <label for="playerTeam">Equipo del Jugador:</label>
        <input type="text" id="playerTeam" name="playerTeam" [(ngModel)]="player.team" required>
      </div>
      <div class="form-group">
        <label for="playerDorsal">Dorsal del Jugador:</label>
        <input type="number" id="playerDorsal" name="playerDorsal" [(ngModel)]="player.dorsal" required>
      </div>
      <button type="submit">Crear Jugador</button>
    </form>
  </div>
  