<div class="estadisticas-container">
  <h2 class="statsbkt-title move-right">STATSBKT</h2>
  <div class="content-wrapper">
    <div class="image-container">
      <img src="assets/miaumiau_svg.svg" alt="Imagen">
    </div>
    <div class="text-container">
      <p>Bienvenidos a StatsBKT, una innovadora plataforma dedicada al análisis de estadísticas de baloncesto, diseñada específicamente para la comunidad universitaria de la Universidad de Cundinamarca. StatsBKT permite capturar, gestionar y visualizar el rendimiento de jugadores y equipos en eventos deportivos, brindando una herramienta completa de análisis para jugadores, entrenadores y administradores.</p>
      <p>StatsBKT se enfoca en facilitar el seguimiento y desarrollo de los atletas universitarios, proporcionando un sistema en el que pueden registrarse estadísticas clave de cada partido, como puntos, rebotes, asistencias y otros aspectos del rendimiento individual y colectivo. La plataforma ofrece acceso seguro a datos actualizados que permiten evaluar el progreso de los jugadores y su desempeño en comparación con otros equipos y universidades, ayudando a tomar decisiones informadas para mejorar el rendimiento deportivo.</p>
    </div>
  </div>
</div>
