<section id="admin-section">
  <h2>BIENVENIDO AL PANEL PRINCIPAL DEL ADMINISTRADOR</h2>
  <p>
    En este panel, podrás gestionar jugadores, equipos y juegos de manera
    sencilla. Usa los botones de abajo para empezar a crear y administrar tus
    elementos.
  </p>

  <div class="admin-panel">
    <div class="card-container">
      <div (click)="irAdJugadores()" class="card">
        <img
          src="assets/imgs/escudos/jugadores.jpeg"
          alt="Imagen de Crear Jugadores"
        />
        <p>Crear Jugadores</p>
      </div>
      <div (click)="irAdEquipos()" class="card">
        <img
          src="assets/imgs/escudos/crearequipos.jpg"
          alt="Imagen de Crear Equipos"
        />
        <p>Crear Equipos</p>
      </div>
      <div (click)="irAdJuegos()" class="card">
        <img
          src="assets/imgs/escudos/crearjuegos.jpg"
          alt="Imagen de Crear Juegos"
        />
        <p>Crear Juegos</p>
      </div>
    </div>
  </div>
</section>
